<section class="resource-list">
  <ul>
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
  </ul>
</section>
