<button {{action "invalidateSession"}}>GO OTU</button>
<section>
  <ul class="resource-list">
    {{resource-block}}
    {{resource-block isBooked=true}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
  </ul>
</section>
