<section>
  <ul class="resource-list">
    {{resource-block}}
    {{resource-block isBooked=true}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
    {{resource-block}}
  </ul>
</section>
<button class="btn-sign-out" {{action "invalidateSession"}}>Sign out</button>
